# Copyright (c) 2025 ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KYRIA_TOUCHPAD_LEFT

config ZMK_KEYBOARD_NAME
    default "Kyria Touchpad"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KYRIA_TOUCHPAD_LEFT || SHIELD_KYRIA_TOUCHPAD_RIGHT

config ZMK_SPLIT
    default y

endif
